@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "SideNav Display Display Display"
    "SideNav Display Display Display"
    "SideNav Display Display Display"
    "SideNav Display Display Display"
    "SideNav Display Display Display";
}

.side-nav {
  grid-area: SideNav;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: Header;
  background-color: #336699;
}

.display {
  grid-area: Display;
}

.nav-wrapper {
  width: 85%;
  margin: 5px auto 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper div {
  outline: none;
  border: none;
}

.nav-wrapper div a {
  text-decoration: none;
  display: flex;
  font-size: 24px;
  align-items: center;
  border: none;
  color: #ffcc66;
  font-weight: 700;
  letter-spacing: 2.5px;
  background-color: #336699;
  border-bottom: 4px solid #336699;
  outline: none;
}

.nav-wrapper div a:hover {
  border-bottom: 4px solid #ffcc66;
  cursor: pointer;
}

.nav-wrapper div a > span {
  margin: 0 2px;
  font-size: 30px;
}

.app-name {
  color: #ffcc66;
  letter-spacing: 2.5px;
  font-size: 30px;
}

.app-name span {
  color: #fff;
}

.side-nav a {
  font-size: 24px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: #336699;
  font-weight: 700;
  text-decoration: none;
}

.side-nav a:hover {
  background-color: #ffcc66;
  opacity: 0.8;
  box-shadow: 8px 6px 15px 2px rgba(51, 102, 153, 0.59);
  border-radius: 5px;
}

.notes-main {
  display: flex;
}

.notes-main ul {
  width: 60%;
}

.note-panel {
  width: 40%;
}

.note {
  margin: 20px 15px;
  padding: 25px;
  list-style: none;
  color: #336699;
  border: 2.5px solid #336699;
}

.note:hover {
  cursor: pointer;
}

.weather-main {
  display: flex;
  flex-direction: column;
}

.weather-main form {
  margin: 0 auto;
}

.weather-search {
  color: #336699;
  font-size: 36px;
  margin: 25px auto 35px;
  border: none;
  border-bottom: 2px solid #336699;
  text-align: center;
}

.weather-search:focus {
  outline: none;
}

.weather-main .title {
  margin-left: 40px;
  font-size: 40px;
  color: #ffcc66;
  text-shadow: 1px 1px #336699;
}

.weather-main .weather-items {
  margin: 10px;
  color: #336699;
}

.weather-main .weather-item {
  border-bottom: 1px solid #336699;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin: 0 125px;
  padding: 12px;
}

.weather-main .weather-item:last-child {
  border-bottom: none;
}

.weather-main .weather-item li {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-self: center;
  height: 50px;
}

.weather-main .weather-item li img {
  padding-right: 15px;
}

.weather-desc {
  height: 50px;
}
